/backend/.idea/
/backend/.vs/
/backend/WebAPI/bin/
/backend/WebAPI/obj/



# dependencies
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.vscode/
/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local

/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*

*storybook.log
/frontend/.storybook/