.Theme {  
    padding-right: 10px; /* Добавляем отступ справа для разделения содержимого от границы */  
} 
.ThemeText { 
    padding: 10px; 
}

/* Удаляем правую границу для последнего элемента списка */
.Theme:last-child {
  border-right: none;
}